$primary-color: #7D9F90;
$third-color: #009688;
$secondary-color: #f44336;
$animation-duration: 0.4s;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ethereal', sans-serif;
}

.mainbodycart{
  position: relative;
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: block;
  .cart-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 100px 0 100px;
  }

  .left{
    width: 100%;
  }

  .right{
    width: 40%;
    display: flex;
    padding-left: 30px;
    flex-direction: column;
  }

  .cart-items{
    width: 100%;
  }

  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform $animation-duration ease-in-out;
  }

  .cart-item:hover {
    transform: translateY(-5px);
  }

  .item-details {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
  }

  .item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 8px;
  }

  .item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  .item-name {
    font-size: 18px;
    margin-bottom: 4px;
    color: $primary-color;
  }

  .item-price {
    font-weight: bold;
  }

  .quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .quantity-btn {
    padding: 8px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $animation-duration ease-in-out;
  }

  .quantity-btn i {
    font-size: 12px;
  }

  .quantity-btn:hover {
    background-color: darken($primary-color, 10%);
  }

  .quantity-input {
    width: 40px;
    height: 24px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    margin: 0 4px;
  }

  .remove-btn {
    padding: 8px;
    background-color: $secondary-color;
    color: white;
    border: none;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color $animation-duration ease-in-out;
  }

  .remove-btn:hover {
    background-color: darken($secondary-color, 10%);
  }

  .price-summary {
    background-color: $primary-color;
    color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .total {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
  }

  button {
    padding: 12px 24px;
    background-color: $third-color;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color $animation-duration ease-in-out;
  }

  button:hover {
    background-color: darken($primary-color, 10%);
  }
}

h1 {
  font-size: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 2vh;
  text-align: center;
  color: $primary-color;
}

h2{
  font-size: 35px;
  margin-bottom: 20px;
}
.checkoutbtn{
  width: 100%;
  margin-top: 20px;
}

.vertical-line {
  width: 100%;
  height: 1px;
  background-color: #ffffff;
}
