*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ethereal', sans-serif;
}

#mainbody{
  opacity: 0;
  transform: scaleZ(1.2);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#mainbody.animate{
  opacity: 1;
  transform: scaleZ(1);
}

.mainbody3{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  .section{
    position: relative;
    display: block;
    margin-top: 100px;
    z-index: 1;
    .filter-section {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 50px;
      justify-content: center;
      .search-bar {
        position: relative;
        display: flex;
        align-items: center;
        width: 800px;
        height: 45px;
        border: 1px solid #000000;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 15px;
      }

      #search-input {
        padding: 15px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 20px;
        background-color: transparent;
        transition: border-color 0.3s ease-in-out;
      }

      #search-btn {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 10px;
      }

      .fa-search {
        color: #555;
        font-size: 18px;
        transition: color 0.3s ease-in-out;
      }

      #search-input:focus {
        border-color: #7D9F90;
      }

      #search-input:focus + #search-btn .fa-search {
        color: #7D9F90;
      }

      label{
        font-size: 20px;
        padding-right: 5px;
      }
      select{
        width: 250px;
        height: 45px;
        font-size: 20px;
        padding-left: 10px;
      }
    }
    .products-view {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }

    .product {
      width: 300px;
      margin: 20px;
      text-align: center;
      display: flex;
      border: black solid 1px;
      flex-direction: column;
      padding-bottom: 10px;
    }

    .product .product-image {
      flex-grow: 1;
    }

    .product .product-details {
      padding: 10px;
    }

    .product img {
      width: 100%;
      height: 35vh;
      margin-bottom: 10px;
      object-fit: cover;
    }

    .product-title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .product-description {
      margin-bottom: 20px;
    }

    .product-price {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .buy-button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #7D9F90;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .buy-button:hover {
      background-color: #45a049;
    }

    .item-view {
      text-align: center;
      margin-top: 10px;
    }

    .item-view a {
      display: inline-block;
      padding: 5px;
      color: #888;
      transition: color 0.3s;
    }

    .item-view a:hover {
      color: #000;
    }

    /* Media Query for Responsive Design */

    @media (max-width: 600px) {
      .product {
        width: 100%;
        max-width: 400px;
      }
    }
  }
  .product-image{
    position: relative;
    overflow: hidden;
  }

  .product-image img{
    transition: transform 0.3s ease-in-out;
  }

  .zoom-in{
    transform: scale(1.2);
  }
}