* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ethereal', sans-serif;
}

#mainbody{
  opacity: 0;
  transform: scaleZ(1.2);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

#mainbody.animate{
  opacity: 1;
  transform: scaleZ(1);
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.mainbody{
  position: relative;
  width: 100%;
  height: auto;
  display: block;
  .videobox{
    width: 100%;
    height: auto;
    position: relative;
    .videotext{
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-shrink: 0;
      width: 100%;
      height: 100vh;
      position: absolute;
      background: rgba(0, 0, 0, 0.3);
      color: #ffffff;
      z-index: 2;
      h1{
        font-size: 100px;
        padding-bottom: 4vh;
        animation: fadeInAnimation ease 4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      h3{
        font-size: 25px;
        font-weight: lighter;
        padding-bottom: 4vh;
        animation: fadeInAnimation ease 7s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      h2{
        font-size: 25px;
        font-weight: bold;
        padding-bottom: 4vh;
        animation: fadeInAnimation ease 10s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }
      @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
    video{
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .imgbox1{
    width: 100%;
    height: auto;
    position: relative;
    .divbox{
      width: 100%;
      height: 100vh;
      position: absolute;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      z-index: 1;
      .textbox{
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 25px;
        margin-right: 100px;
        width: 500px;
        height: 500px;
        font-size: 25px;
        padding: 50px;
        background: rgba(225, 225, 225, 0.8);
        align-items: center;
        text-align: center;
        p{
          padding-bottom: 4vh;
        }
        .contact-us{
          text-decoration: none;
          font-size: 20px;
          width: 150px;
          height: 50px;
          color: #ffffff;
          background: #7D9F90;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: background-color 0.3s;
        }
        .contact-us:hover{
          background-color: #4e6057;
        }
      }
    }
    .mainimg{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
  }
  .imgbox2{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 5vw);
    grid-gap: 0.5rem;
    z-index: 1;
    img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
    .gallery__item--1{
      width: 100%;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .gallery__item--2{
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .gallery__item--3{
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 6;
    }
    .gallery__item--4{
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
      grid-row-end: 6;
    }
  }
}